<!-- <div class="content  content-fixed">
    <div class="container">
        <p>jobnew works!</p>
        <tag-input [ngModel]="['Tambahkan Skills']">
            <tag-input-dropdown
            [autocompleteItems]="items"
            [showDropdownIfEmpty]="true"
            [dynamicUpdate]="false"
            >
            </tag-input-dropdown>
        </tag-input>
    </div>
</div> -->
<div class="content  content-fixed">
  <div class="container">
    <h4 id="section3" class="mg-b-10">Create New Job</h4>
    <h6>Job Detail</h6>
    <hr class="mg-y-10">

    <!-- df-example -->
    <form [formGroup]="angForm" (ngSubmit)="onClickSubmit()" class="needs-validation" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div data-label="Example" class="df-example demo-forms">
            <div class="input-group mg-y-5">
              <div class="input-group-prepend">
                <span class="input-group-text">Job Title*</span>
              </div>
              <input formControlName="jobtitle" class="form-control" placeholder="Job Title">

              <div class="input-group-append">
                <button class="btn btn-outline-light" type="button" id="button-addon2">Append</button>
              </div>
            </div>
            <div *ngIf="submitted && f.jobtitle.errors" style="color: red">
              <div *ngIf="f.jobtitle.errors.required">Title is required</div>
            </div>
            <div class="input-group mg-y-5">
              <!-- <div class="input-group-prepend">
                      <button class="btn btn-outline-light dropdown-toggle input-group-text" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Job Lvl*</button>
                      <div class="dropdown-menu tx-13">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="onLevelClick(1)" >Level A</a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="onLevelClick(2)" >Level B</a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="onLevelClick(3)" >Level C</a>
                      </div>
                    </div>
                    <input class="form-control" placeholder="Job Level" formControlName="joblevel" aria-label="Text input with dropdown button"> -->
              <div class="input-group-prepend">
                <button class="btn btn-outline-light dropdown-toggle input-group-text" type="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Job Lvl*</button>
                <div class="dropdown-menu tx-13">
                  <a *ngFor="let joblevel of joblevelitems" class="dropdown-item" href="javascript:void(0)"
                    (click)="onLevelClick(joblevel, 1)">{{joblevel.display}}</a>
                </div>
              </div>
              <input class="form-control" placeholder="Job Level" formControlName="joblevel"
                aria-label="Text input with dropdown button">
            </div>
            <div *ngIf="submitted && f.joblevel.errors" style="color: red">
              <div *ngIf="f.joblevel.errors.required">Level is required</div>
            </div>
            <div class="input-group mg-y-5">
              <div class="input-group-prepend">
                <button class="btn btn-outline-light dropdown-toggle input-group-text" type="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Industry*</button>
                <div class="dropdown-menu tx-13">
                  <a *ngFor="let industriy of industriyitems" class="dropdown-item" href="javascript:void(0)"
                    (click)="onLevelClick(industriy, 2)">{{industriy.display}}</a>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Industry" formControlName="jobindustry"
                aria-label="Text input with dropdown button">

              <!-- <div class="input-group-prepend">
                      <button class="btn btn-outline-light dropdown-toggle input-group-text" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Industry*</button>
                      <div class="dropdown-menu tx-13">
                        <a class="dropdown-item"  href="javascript:void(0)" >Information Technology</a>
                        <a class="dropdown-item"  href="javascript:void(0)" >Financial and Banking</a>
                        <a class="dropdown-item"  href="javascript:void(0)" >Agro Culture</a>
                      </div>
                    </div>
                    <input type="text" class="form-control"  placeholder="Industry" aria-label="Text input with dropdown button"> -->
            </div>
            <div *ngIf="submitted && f.jobindustry.errors" style="color: red">
              <div *ngIf="f.jobindustry.errors.required">Industry is required</div>
            </div>
            <div class="input-group mg-y-5">
              <div class="input-group-prepend">
                <button class="btn btn-outline-light dropdown-toggle input-group-text" type="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Emp Type*</button>
                <div class="dropdown-menu tx-13">
                  <a *ngFor="let emptype of emptypeitems" class="dropdown-item" href="javascript:void(0)"
                    (click)="onLevelClick(emptype, 3)">{{emptype.display}}</a>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Employee Type" formControlName="jobemployeetype"
                aria-label="Text input with dropdown button">
            </div>
            <div *ngIf="submitted && f.jobemployeetype.errors" style="color: red">
              <div *ngIf="f.jobemployeetype.errors.required">Employee Type is required</div>
            </div>
            <div class="input-group mg-y-5">
              <div class="input-group-prepend">
                <button class="btn btn-outline-light dropdown-toggle input-group-text" type="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location*</button>
                <div class="dropdown-menu tx-13">
                  <a *ngFor="let location of locationitems" class="dropdown-item" href="javascript:void(0)"
                    (click)="onLevelClick(location, 4)">{{location.display}}</a>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Location" formControlName="joblocation"
                aria-label="Text input with dropdown button">
            </div>
            <div *ngIf="submitted && f.joblocation.errors" style="color: red">
              <div *ngIf="f.joblocation.errors.required">Location is required</div>
            </div>
            <div class="input-group mg-y-5">
              <div class="input-group-prepend">
                <button class="btn btn-outline-light dropdown-toggle input-group-text" type="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Education*</button>
                <div class="dropdown-menu tx-13">
                  <a *ngFor="let education of educationitems" class="dropdown-item" href="javascript:void(0)"
                    (click)="onLevelClick(education, 5)">{{education.display}}</a>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Education" formControlName="jobeducation"
                aria-label="Text input with dropdown button">
            </div>
            <div *ngIf="submitted && f.joblocation.errors" style="color: red">
              <div *ngIf="f.joblocation.errors.required">Education is required</div>
            </div>
            <div class="input-group mg-y-5">
              <div class="input-group-prepend">
                <button class="btn btn-outline-light dropdown-toggle input-group-text" type="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Experiance*</button>
                <div class="dropdown-menu tx-13">
                  <a *ngFor="let experience of experienceitems" class="dropdown-item" href="javascript:void(0)"
                    (click)="onLevelClick(experience, 6)">{{experience.display}}</a>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Experiance" formControlName="jobexperiences"
                aria-label="Text input with dropdown button">
            </div>
            <div *ngIf="submitted && f.jobexperiences.errors" style="color: red">
              <div *ngIf="f.jobexperiences.errors.required">Experience is required</div>
            </div>
            <div class="input-group mg-y-5">
              <div class="input-group-prepend">
                <span class="input-group-text">Sallary (Monthly)</span>
              </div>
              <input type="text" aria-label="First name" class="form-control" formControlName="jobminsallary"
                placeholder="0.0" currencyMask [options]="NGXCurrencyConfig">
              <div class="input-group-append">
                <span class="input-group-text">Min</span>
              </div>
            </div>

            <div class="input-group mg-y-5">
              <div class="input-group-prepend">
                <span class="input-group-text">Sallary (Monthly)</span>
              </div>
              <input type="text" aria-label="First name" class="form-control" formControlName="jobmaxsallary"
                placeholder="0.0" currencyMask [options]="NGXCurrencyConfig">
              <div class="input-group-append">
                <span class="input-group-text">Max</span>
              </div>
            </div>
            <div class="input-group mg-y-5">
              <span class="form">Skills*</span>
            </div>

            <tag-input theme='minimal' formControlName="jobskill" placeholder="Skills">
              <tag-input-dropdown [autocompleteItems]="skills" [showDropdownIfEmpty]="true" [appendToBody]="false"
                [dynamicUpdate]="false">
              </tag-input-dropdown>
            </tag-input>
            <div *ngIf="submitted && f.jobskill.errors" style="color: red">
              <div *ngIf="f.jobskill.errors.required">Skill is required</div>
            </div>
            <div class="input-group mg-y-5">
              <span class="form">Deadline Of Application*</span>
            </div>
            <div data-label="Example" class="df-example demo-forms">
              <div class="wd-md-50p">
                <!-- <input type="text" class="form-control" formControlName="jobdeadline" placeholder="Pick Date" id="datepicker4"> -->
                <input type="text" #dateFromDp="dpDayPicker" class="form-control" [dpDayPicker]="dayPickerConfig"
                  formControlName="jobdeadline" [mode]="'day'" [theme]="'dp-material'" (onChange)="date = $event"
                  placeholder="Pick Date" />
              </div>
            </div>
            <div *ngIf="submitted && f.jobdeadline.errors" style="color: red">
              <div *ngIf="f.jobdeadline.errors.required">Deadline is required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div data-label="Example" class="df-example demo-forms">
            <div class="input-group mg-y-5">
              <span class="form">Qualifications *</span>
            </div>
            <div class="input-group mg-y-5">
              <!-- <textarea class="form-control" rows="3" placeholder="Write job Qualifications"></textarea> -->
              <!-- <textarea id="mymce1" formControlName="jobqualification"></textarea> -->
              <tinymce formControlName="jobqualification" [config]="config"></tinymce>
            </div>
            <div *ngIf="submitted && f.jobqualification.errors" style="color: red">
              <div *ngIf="f.jobqualification.errors.required">Qualification is required</div>
            </div>
            <div class="input-group mg-y-5">
              <span class="form">Write Jobs Description *</span>
            </div>
            <div class="input-group mg-y-5">
              <!-- <textarea class="form-control" rows="3" placeholder="Write job Description"></textarea> -->
              <!-- <textarea id="mymce2" name="jobdescription" formControlName="jobdescription"></textarea> -->
              <tinymce formControlName="jobdescription" [config]="config"></tinymce>
            </div>
            <div *ngIf="submitted && f.jobdescription.errors" style="color: red">
              <div *ngIf="f.jobdescription.errors.required">Descriptions is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 inline">
          <!-- Alert jika data belum diisi -->
          <div *ngIf="validatorAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Invalid!</strong><br>Please fill in all field & upload document.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <!--  -->
          <div class="row pd-t-20">
            <div class="col-sm-6 pd-b-10">
              <button type="submit" class="btn btn-brand-02 btn-block">Post Job</button>
            </div>
            <div class="col-sm-6 pd-b-10">
              <button type="button" class="btn  btn-block bg-danger" style="color: seashell">Cancel Post</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </form>
  </div><!-- container -->
</div>