<div class="content content-fixed backgroundbiasa">
    <img src="./assets/assets/img/phincon/bighouse.png" class="img-fluid" style="border-radius: 8px;" alt="Responsive image">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0 pd-lg-y-20">
        <div class="row">
          <div class="col-md-12">
              <div class="section-heading text-center mb-100">
                  <div class="line"></div>
                  <p>Deskripsi TAPERA</p>
                  <h4>Rumah sebagai kebutuhan dasar manusia, disamping sandang dan pangan, merupakan harapan setiap manusia untuk dapat memenuhinya.</h4>
           
              <div class="about-content mb-100">
                  <!-- Section Heading -->
                  <div class="section-heading">
                      <div class="line"></div>
                  </div>
                  <p class="mb-4"></p><div style="text-align:justify">Salah satu amanat yang harus dipenuhi oleh Pemerintah berdasarkan Undang Undang Dasar (UUD) 1945 adalah bahwa negara menjamin pemenuhan kebutuhan warga negara atas tempat tinggal yang layak dan terjangkau dalam rangka membangun manusia Indonesia seutuhnya, berjati diri, mandiri, dan produktif. Karena itu penyediaan perumahan menjadi salah satu prioritas utama bagi Pemerintah.<p></p></div>

                  <p class="mb-4"></p><div style="text-align:justify">Untuk menjamin kesinambungan penyelenggaraan TAPERA diatur juga peralihan kelembagaan dan seluruh asetnya dari lembaga yang ada saat ini, yaitu Badan Pertimbangan Tabungan Perumahan Pegawai Negeri Sipil ke dalam Badan Pengelola Tabungan Perumahan Rakyat (BP-TAPERA) sesuai menurut Undang Undang Nomor 4 Tahun 2016 tentang Tabungan Perumahan Rakyat.</div>

                  <p class="mb-4"></p><div style="text-align:justify">Upaya untuk pemenuhan kebutuhan akan tempat tinggal yang layak masih dihadapkan pada kondisi permasalahan keterjangkauan, aksesibilitas, serta ketersediaan dana dan dana murah jangka panjang yang berkelanjutan untuk pemenuhan kebutuhan rumah, perumahan, permukiman, serta lingkungan hunian perkotaan dan pedesaan. Dalam menghimpun dan menyediakan dana murah jangka panjang untuk menunjang pembiayaan perumahan, negara bertanggung jawab menyelenggarakan tabungan perumahan yang merupakan bagian dari sistem pembiayaan perumahan.</div>

                  <p class="mb-4"></p><div style="text-align:justify">Badan Pengelola Tabungan Perumahan Rakyat (BP-TAPERA) didirikan berdasarkan Undang-Undang Nomor 4 Tahun 2016 tentang Tabungan Perumahan Rakyat.</div>

                  <p class="mb-4"></p><div style="text-align:justify">TAPERA bertujuan untuk menghimpun dan menyediakan dana murah jangka panjang yang berkelanjutan untuk pembiayaan perumahan dalam rangka memenuhi kebutuhan rumah yang layak dan terjangkau bagi peserta melalui keterpaduan penyusunan rencana, program, dan pelaksanaan kegiatan secara keseluruhan.</div>
              </div>
             </div>
          </div>
        </div>
    </div><!-- container -->
  </div>
  <script>
    feather.replace()
  </script>
