<!--The content below is only a placeholder and can be replaced.-->
<header class="navbar navbar-header navbar-header-fixed" style='display: flex;flex-flow: row;'>
  <a href="" id="mainMenuOpen" class="burger-menu">
    <i data-feather="menu"></i>
  </a>
  <div class="navbar-brand" style="padding-left: 0px;">
    <a href="" class="df-logo">
      <img src="/assets/assets/img/phincon/taperalogo.png" alt="no logo" class="imglogoAtas" />
    </a>
    
  </div><!-- navbar-brand -->
  <div id="navbarMenu" class="navbar-menu-wrapper" *ngIf="profileComponent.loggedin">
    <div class="navbar-menu-header">
      <!-- <a href="" class="df-logo">dash<span>forge</span></a> -->
      <a id="mainMenuClose" href="">
        <i data-feather="x"></i>
      </a>
    </div><!-- navbar-menu-header -->
    <ul class="nav navbar-menu">
      <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
      <!-- <li id="jobprojects" class="nav-item with-sub" routerLinkActive="active">
        <a href="" class="nav-link">
          <i data-feather="home"></i>
          Jobs & Projects
        </a>
        <ul class="navbar-menu-sub">
          <li class="nav-sub-item">
            <a routerLink="jobs_project/post" class="nav-sub-link" (click)="toggleSub('jobprojects')">
              <i data-feather="bar-chart-2"></i>
              Job Post
            </a>
          </li>
          <li class="nav-sub-item"><a href="#" class="nav-sub-link"><i data-feather="bar-chart-2"></i>Projetcts</a></li>
          <li class="nav-sub-item"><a href="#" class="nav-sub-link"><i data-feather="bar-chart-2"></i>Project
              History</a></li>
        </ul>
      </li> -->
      <li class="nav-item" routerLinkActive="active"><a routerLink="home" class="nav-link"><i data-feather="home"></i> Beranda</a></li>
      <li id="jobprojects" class="nav-item with-sub" [ngClass]="submenmen" routerLinkActive="active">
            <a href="#" class="nav-link">
              <i data-feather="list"></i>
              Program
            </a>
            <ul class="navbar-menu-sub">
              <li class="nav-sub-item">
                <a routerLink="pengembangan" class="nav-sub-link" (click)="toggleSub('jobprojects')">
                  <i data-feather="bar-chart-2"></i>
                  Pengembangan
                </a>
              </li>
              <li class="nav-sub-item">
                  <a routerLink="pemanfaatan" class="nav-sub-link" (click)="toggleSub('jobprojects')">
                    <i data-feather="bar-chart-2"></i>
                    Pemanfaatan
                  </a>
                </li>
                <li class="nav-sub-item">
                    <a routerLink="pengajuan" class="nav-sub-link" (click)="toggleSub('jobprojects')">
                      <i data-feather="bar-chart-2"></i>
                      Pengajuan
                    </a>
                  </li>
            </ul>
      </li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="applicants" class="nav-link"><i
          data-feather="box"></i> Informasi</a></li>
          <li class="nav-item" routerLinkActive="active"><a routerLink="applicants" class="nav-link"><i
            data-feather="box"></i> Dashboard & Report</a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="applicants" class="nav-link"><i
              data-feather="box"></i> FAQ</a></li>
    </ul>
  </div><!-- navbar-menu-wrapper -->
  <div class="navbar-right" *ngIf="profileComponent.loggedin">
    
      Welcome!, &nbsp;<b>{{profileComponent.name}}</b>
    
    
    <!-- dropdown -->
    <div class="dropdown dropdown-profile">

      <!-- <span href="https://themeforest.net/item/azia-responsive-bootstrap-4-dashboard-template/22983790" class="btn btn-buy"><i data-feather="shopping-bag"></i> <span>Buy Now</span></a> -->

     
      <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static">
        <div class="avatar avatar-sm"><img [src]="profileComponent.avatar" class="rounded-circle" alt="">
        </div>
      </a><!-- dropdown-link -->
      <div class="dropdown-menu dropdown-menu-right tx-13">
        <div class="avatar avatar-lg mg-b-15"><img [src]="profileComponent.avatar" class="rounded-circle"
            alt=""></div>
        <h6 class="tx-semibold mg-b-15">{{profileComponent.name}}</h6>
        <!-- <p class="mg-b-25 tx-12 tx-color-03">Administrator</p> -->
        <a href="" class="dropdown-item" routerLink="adminprofile"><i data-feather="edit-3"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        
        <a href="javascript:void(0)" class="dropdown-item" (click)="openDialog()"><i data-feather="log-out"></i>Sign
          Out</a>
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
  </div><!-- navbar-right -->

</header><!-- navbar -->
<router-outlet></router-outlet>