<div class="content  content-fixed">
        <div class="container">
          <h4 id="section3" class="mg-b-10">Pengajuan</h4>
          <hr class="mg-y-10">
          <div class="row row-xs">
                <div class="col-12">
                        <div data-label="Preview" class="df-example">
                                <div class="row row-sm">
                                  <div class="col-md" style="text-align: center;padding-top:30px;">
                                    <a href="#">
                                    <figure class="img-caption pos-relative mg-b-0">
                                      <img src="/assets/img/phincon/homepage.png" class="img-fit-cover" style="width: 250px;height:auto;" alt="Responsive image">
                                    </figure>
                                    <h3 style="padding-top: 10px;">Pengajuan Pemanfaatan</h3>
                                    </a>
                                  </div><!-- col -->
                                  <div class="col-md" style="text-align: center;padding-top:30px;">
                                      <a href="#">
                                        <figure class="img-caption pos-relative mg-b-0">
                                                <img src="/assets/img/phincon/redemption.png" class="img-fit-cover" style="width: 250px;height:auto;" alt="Responsive image">
                                              </figure>
                                              <h3 style="padding-top: 20px;">Redemption</h3>
                                      </a>
                                  </div><!-- col -->
                                </div><!-- row -->
                              </div>
                </div><!-- col -->
        </div>
        </div><!-- container -->
        
</div>