<div class="content  content-fixed">
        <div class="container">
          <h4 id="section3" class="mg-b-10">Pemanfaatan</h4>
          <hr class="mg-y-10">
          <div class="row row-xs">
                <div class="col-12">
                        <div class="card">
                        <div class="card-body">
                                <div class="row">
                                        <div class="col-sm-3"><b>Bank/Lembaga Pembiayaan</b></div>
                                        <div class="col-sm-9">: PT BTN</div>
                                        <!-- <div class="col-sm-6"></div> -->
                                      </div>
                                <div class="row">
                                            <div class="col-sm-3"><b>Nilai KPR  </b></div>
                                            <div class="col-sm-9">: IDR 300,000,000</div>
                                            <!-- <div class="col-sm-6"></div> -->
                                          </div>
                                <div class="row">
                                    <div class="col-sm-3"><b>Jangka waktu KPR </b></div>
                                    <div class="col-sm-9">: 30 Tahun</div>
                                    <!-- <div class="col-sm-6"></div> -->
                                    </div>
                                <div class="row">
                                        <div class="col-sm-3"><b>Cicilan per Bulan </b></div>
                                        <div class="col-sm-9">: IDR 3000,000</div>
                                        <!-- <div class="col-sm-6"></div> -->
                                        </div>
                                <div class="row">
                                        <div class="col-sm-3"><b>Outstanding cicilan</b></div>
                                        <div class="col-sm-9">: IDR 50,000,000</div>
                                        <!-- <div class="col-sm-6"></div> -->
                                    </div>
                        </div>
                        </div>
                        <div data-label="Example" class="df-example demo-table" style="padding-top: 20px;">
                                <div class="table-responsive">
                                  <table class="table table-hover table-sm">
                                    <thead>
                                      <tr>
                                        <th scope="col" style="text-align: center;">#</th>
                                        <th scope="col" style="text-align: center;">Dana</th>
                                        <th scope="col" style="text-align: center;">KUP</th>
                                        <th scope="col" style="text-align: center;">NAV</th>
                                        <th scope="col" style="text-align: center;">Total</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row" style="text-align: center;">2019-11-18</th>
                                        <td  style="text-align: right;">IDR 500,000</td>
                                        <td style="text-align: center;">500</td>
                                        <td style="text-align: center;">1021</td>
                                        <td style="text-align: right;">IDR 510,000</td>
                                      </tr>
                                      <tr>
                                        <th scope="row" style="text-align: center;">2019-10-28</th>
                                        <td  style="text-align: right;">IDR 490,000</td>
                                        <td style="text-align: center;">500</td>
                                        <td style="text-align: center;">1021</td>
                                        <td style="text-align: right;">IDR 500,000</td>
                                      </tr>
                                      <tr>
                                        <th scope="row" style="text-align: center;">2019-09-27</th>
                                        <td  style="text-align: right;">IDR 460,000</td>
                                        <td style="text-align: center;">400</td>
                                        <td style="text-align: center;">1021</td>
                                        <td style="text-align: right;"> IDR 490,000</td>
                                      </tr>
                                      <tr>
                                        <th scope="row" style="text-align: center;">2019-09-07</th>
                                        <td  style="text-align: right;">IDR 450,000</td>
                                        <td style="text-align: center;">500</td>
                                        <td style="text-align: center;">1021</td>
                                        <td  style="text-align: right;">IDR 460,000</td>
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                                </div><!-- table-responsive -->
                              </div><!-- df-example -->
                </div><!-- col -->
        </div>
        </div><!-- container -->
        
</div>