<div class="content content-fixed backgroundbiasa">
        <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
          <div class="d-sm-flex align-items-center justify-content-between mg-b-10 mg-lg-b-10">
            <div>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                  <!-- <li class="breadcrumb-item"><a href="#">Jobs & Projects</a></li> -->
                  <li class="breadcrumb-item active" aria-current="page">User Administrator</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="row row-xs">
            <div class="col-12">
                <form [formGroup]="angForm" (ngSubmit) = "onClickSubmit()" class="needs-validation" novalidate>
              <!-- <div class="card card-body align-items-start"> -->
                    
              <!-- </div> -->
                </form>
            </div><!-- col -->
          </div><!-- row -->
    <!---TABLE JOBS-->
    </div><!-- container -->
</div>
      <script>
        feather.replace()
      </script>
    